body {
    background-color: #F9F9F9;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    color: #1A75FF;
    margin-top: 50px;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}

.player_control {
    width: 30%;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
}

.player_control:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#board_section {
    width: 40%;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
}

#board_section:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.data_span {
    font-weight: bold;
    color: #1A75FF;
}

.button_roll {
    background-color: #1A75FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.result_roll {
    width: 60%;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #1A75FF;
    text-align: center;
    font-size: 18px;
    color: #1A75FF;
}

#board_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 8px;
    font-size: 18px;
    border-radius: 50%;
}

.red {
    background-color: #FF4136;
}

.orange {
    background-color: #FFA500;
}

.yellow {
    background-color: #FFFF00;
}

.green {
    background-color: #2ECC40;
}

.blue {
    background-color: #42a5f5;
}

.indigo {
    background-color: #8756d5;
}

.violet {
    background-color: #ea9bd7;
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26, 117, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.choices_section_class {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.choices_class {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.choice_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F5FF;
    width: 300px;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

p > p {
    display: inline;
}

p {
    word-wrap: break-word;
}

button {
    padding: 10px 20px;
    background-color: #1A75FF;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: white;
    color: #1A75FF;
}

img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#skip_investment {
    background-color: white;
    color: #1A75FF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#skip_investment:hover {
    background-color: #1A75FF;
    color: white;
}